.displayBox {
    height: 275px;
    width: auto;
}

button {
    background-color: rgb(255, 208, 0);
    margin: 2px;
    cursor: pointer;
}

button:disabled {
    background-color: revert;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */


/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    font-weight: bold;
    color: red;
}